@model GuitarStore.WebUi.Entities.Product

<div class="well">
    <h3>
        <mark><strong><em>@Model.Name</em></strong></mark>
        @Html.DisplayFor(p => p.Price)
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProductId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }
    <span class="lead">@Model.Description</span>
</div>